html,body{
	margin: 0px;
	padding: 0px;
	
}



body {
	
	font-family: 'Montserrat', sans-serif; 
	/* background-image: url(./img/yasuo.jpg); */
	background-attachment: fixed;
	background-image: url(./img/fundo_site.jpg);
	background-attachment: fixed;

	
}
/* background-image: url(resources/images/header-bg-noplay.png); */
/* background-image: url(https://am-a.akamaihd.net/image?f=http://br.leagueoflegends.com/sites/default/files/upload/backgrounds/bg-rotator-homepage_preseason_v2.jpg); */





.main {
	padding: 80px 100px 80px 100px;

	animation-name: conteudo;
	animation-duration: 2s;
}

.cv-pic {
	float: left;
	width: 280px;
	margin-right: 30px;
}

.main h1 {
	color: white;
	font-weight: normal;
	text-align: center;
}

.main h2{
	color: white;
	font-size:25px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 40px;
}

.main h3 {
	color: #f27609;
	font-size: 12px;
	text-transform: uppercase;
}

.main h4 {
	color: #f27609;
	font-size: 12px;
	text-transform: uppercase;
}

.main p {
	font-size: 18px;
	font-weight: 100px;
	color: white;
	line-height: 24px;
	text-align: justify;
}



.social-img {
	width: 50px;
  }


.miniatura {
	width: 320px;
	height: 320px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	background-size: contain;
	overflow: hidden;
}

.miniatura a {
	text-decoration: none;
}



.noticia1 {
	text-align: center;
	
}


.foto-noticias {
	width: 100%;
	margin-bottom: 15px;
	margin-top: 15px
}





@keyframes titulo-capa {
	0% {opacity: 0; transform: translate(0px,20px)}
	100% {opacity: 1; transform: translate (0px,0px)}
}

@keyframes profile-capa{
	0% {opacity: 0; transform: translate(0px,-20px)}
	100% {opacity: 1; transform: translate (0px,0px)}
}

@keyframes conteudo{
	0% {opacity: 0; transform: translate(20px,0px)}
	100% {opacity: 1; transform: translate (0px,0px)}
}

@keyframes navegacao {
	0% {opacity: 0;}
	50% {opacity:0;}
	100% {opacity: 1}
}


 @media (max-width: 1000px) { 


.capa div {
	display: block;
	height: auto;	
}

.profile-pic {
	width: 100%;
}
.profile-pic img {
	margin-top: 0;
	max-width: 80%;
}

.profile-title {
	text-align: center;
	width: 100%;
}

.profile-title h1 {
	margin-top: 30px;
	font-size: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.profile-title h2 {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.main {
	padding: 10px 5% 40px 5%;
	
}



.main p {
	text-align: left;
	line-height: 30px;
}

.caminho li {
	font-size: 12px;
} 


.cv-pic {
	float: none;
	max-width: 100%;
	margin-right: 0px;
}

.miniatura {
	max-width: 100%;
	background-size: auto 100%;
}

.blackbox {
	opacity: 0.8;
}

.menujs {
	height: auto;
}

.menujs ul {
	height: auto;
	text-align: center;
	padding-right: 15%;
	padding-left: 15%;
}

.menujs li {
	display: block;
	border-bottom: solid grey 1px;
}

}

.links_direito {
	
	text-align: justify;
	text-align: center;
	

}

/* Nav Bar */

ul {
  background-color: rgba(0, 0, 0,0.4);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


li {
  float: left;
  
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  rgba(0, 0, 0,0.4);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px  #1d3557(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {
  display: block;
}